/* Untuk Tablet */
@media all and (max-width: 1000px) {
.slider {
  margin : auto;
}

.marketing {
  margin: auto;
}

.top-wrapper h1 {
  font-size: 32px;
}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  body {
    font-size: 12px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .slider {
    margin: auto;
  }

  footer {
    margin: auto;
  }

  .tombol1 {
     width: 100%;
   }

  .tombol2 {
    width: 100%;
  }

   /* Gantikan margin-bottom facebook ke 10px */
   .tombol2 {
     margin-bottom: 10px;
   }

   /* Tambahkan CSS untuk top-wrapper */
   .top-wrapper {
     text-align: center;
     padding-top: 130px;
   }

   .footer .col {
   	width: 100%;
   	height: auto;
   	float: inherit;
   	box-sizing: border-box;
    text-align: center;
   	padding: 20px;
 }
